body {
  background-color:white;
}

#header-nav {
background-color: #99b3ff;
border-radius: 0;
border: 0;
position: static;
}

#brand{
  height:100px;
  text-align: center;
  font-family: Helvetica;
  color: #000000;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: 0.75;
}

#brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffff99;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  }
#nav-list {
margin-top: 10px;
    color:  #000000;
    font-size: 1.5em;
    font-weight: bold;
     }

#collapsable-nav a {
  font-size: 1.2em;
}
#collapsable-nav a span {
  font-size: 1em;
  margin-right: 5px;
}

#nav-list a{
  color: blue;
}

#nav-list a:hover {
  background: #E7E7E7;
}


#menu{  
  text-shadow: 1px 1px 1px #222;
}

@media (max-width: 767px) {
  
 #brand h1{ /* Restaurant name */
    font-size:5vw;
  }
}

section.container-fluid {
  border: 1px solid black;
  background-color: #ffff99;
  height: 1000px;
  margin:20px;
}
